
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #4F6367;
}

.header-container {
  text-align: center;
}

.header-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  font-weight: 100;
  color: #4F6367;
}

.background {
  background: #DBEBEB;
}

.percentages {
  background: #EBF4F4;
  display: flex;
  justify-content: center;
}

.status {
  width: 200px;
  height: 250px;
}

.jump {
  background-image: url('jump.png');
  background-size: 200px 200px;
  background-repeat: no-repeat;
  margin-top: 45px;
}

.weights {
  background-image: url('weights.png');
  background-size: 200px 200px;
  background-repeat: no-repeat;
  margin-top: 45px;
}

.yoga {
  background-image: url('yoga.png');
  background-size: 200px 200px;
  background-repeat: no-repeat;
  margin-top: 45px;
}

.goal-input, .add-hours-input {
  display: block;
  border: none;
  height: 30px;
  width: 15%;
  background-color: #7A9E9F;
  color: white;
  margin-left: 20px;
}

::-webkit-input-placeholder {
  color: white;
}

.add-goal-btn {
  border: none;
  height: 30px;
  width: 30px;
  background-color: #4F6367;
  color: white;
  font-size: 20px;
  font-weight: 100;
  display: inline;
}

.add-btn {
  border: none;
  height: 30px;
  width: 68px;
  background-color: #4F6367;
  color: white;
  font-size: 12px;
  font-weight: lighter;
  border-radius: 20px;
}

input[type="checkbox"] + label:before {
  border: none;
  background-color: #7A9E9F;
}
