.header-container {
  text-align: center;
}

.header-title {
}

.background {
  background: #DBEBEB;
}

.percentages {
  background: #EBF4F4;
  display: flex;
}

.status {
  width: 200px;
  height: 250px;
}

.jump {
  background-image: url('jump.png');
  background-size: 200px 200px;
  background-repeat: no-repeat;
}

.weights {
  background-image: url('weights.png');
  background-size: 200px 200px;
  background-repeat: no-repeat;
}

.yoga {
  background-image: url('yoga.png');
  background-size: 200px 200px;
  background-repeat: no-repeat;
}

.weekly-workouts-container {
  width: 300px;
}

.weekly {
  color: white;
  background: #7A9E9F;
  height: 50px;
  margin: 10px;
}

.weekly h2 {
  margin: 5px;
  display: inline-block;
}

.weekly img {
  float: right;
  width: 35px;
  margin: 10px;
}
